.f{
    text-decoration: none;
    color: #2579f2;
}

.imf{
    margin: 0 auto;
}

.ts{
    text-align: center;
    h4{
        font-weight: 500;
    }
    p{
        font-weight: 500;
    }
}

@media (max-width: 575.98px) {
    .imf{
       img{
        width: 20rem;
        height: 15rem;
       }
    }
}