.warn {
  margin: 120px 0px;
  color: #dc2323;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 144.444% */
}
.profile {
  display: flex;
  align-items: flex-start;
  gap: 22px;
  padding: 25px 0px;
  .loading {
    .lds-ellipsis {
      div {
        background-color: #2579f2;
      }
    }
  }
  .left {
    width: 20%;
    border-radius: 5.25px;
    border: 1px solid rgba(156, 163, 175, 0.25);
    background: #fff;

    .tabs {
      display: flex;
      flex-direction: column;
      width: 100%;
      .tab {
        flex: 1;
        display: flex;
        padding: 21px;
        align-items: center;
        align-self: stretch;
        gap: 10px;
        color: #6b7280;
        cursor: pointer;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px; /* 150% */
        border-left: 6px solid transparent;
        transition: all 0.3s;
        &.active {
          border-left: 6px solid #2579f2;
          color: #000;
        }
        &:hover {
          color: #000;
        }
      }
    }
  }
  .right {
    flex: 1;
    border-radius: 5.25px;
    border: 1px solid rgba(156, 163, 175, 0.25);
    padding: 36px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 17px;
    .line {
      border-top: 1px solid rgba(156, 163, 175, 0.25);
      margin: 21px 0px;
    }
    .stats {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 17px;
      .stat {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
        .label {
          color: #374151;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px; /* 150% */
        }
        .val {
          color: #000;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 21px;
        }
      }
    }
    input[type="number"].no-spinner::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .avatar {
      display: flex;
      align-items: center;
      gap: 17px;
      img {
        max-width: 160px;
        max-height: 160px;
        border-radius: 6px;
      }

      .loading {
        .lds-ellipsis {
          div {
            background-color: #2579f2;
          }
        }
      }
      .btn {
        display: flex;
        padding: 10.5px 15px;
        justify-content: center;
        align-items: center;
        border-radius: 5.25px;
        border: 1px solid #d1d5db;
        background: #fff;
        color: #2579f2;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px; /* 150% */
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background-color: #2579f2;
          color: white;
        }
      }
      .straight {
        width: 1px;
        height: 150px;
        border-left: 1px solid rgba(156, 163, 175, 0.25);
      }
      .txts {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #374151;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px; /* 150% */
      }
    }
    .inputs {
      display: flex;
      flex-direction: column;
      gap: 18px;
      max-width: 336px;
      .address {
        width: 100%;
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: flex-end;
        color: #2579f2;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px; /* 150% */
      }
    }
    .filters {
      display: flex;
      gap: 14px;

      .btn-filter {
        display: flex;
        border-radius: 5.25px;
        padding: 10.5px 15px;
        height: 42px;
        cursor: pointer;
        background: #2579f2;
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px; /* 150% */
      }
    }
    .table {
      .active {
        color: rgb(68, 221, 68);
      }
      .deactive {
        color: red;
      }
      #row {
        background-color: rgba(0, 0, 0, 0.04);
      }
      #tickets-head {
        td {
          font-size: 12px;
        }
      }
      #tickets-row {
        td {
          font-size: 12px;
        }
        #btn-use {
          background-color: rgb(66, 192, 66);
          cursor: pointer;
          padding: 4px 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          border-radius: 4px;
          font-weight: 600;
          transition: all 0.3s;
          &:hover {
            filter: drop-shadow(0 0 0.25rem rgb(115, 222, 126));
            transform: scale(1.02);
          }
        }
      }
    }
    .allow {
      display: flex;
      max-width: 336px;
      align-items: center;
      span {
        font-weight: 600;
        font-size: 14px;
      }
    }
    .save {
      border-radius: 5.25px;
      background: #2579f2;
      padding: 10.5px 15px;
      color: #fff;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      max-width: 336px;
      line-height: 21px; /* 150% */
      opacity: 0.5;
      cursor: pointer;
      transition: all 0.3s;
      &.active {
        opacity: 1;
      }
    }
  }
}
