input {
  outline: none;

  &:hover {
    background-color: #dedede;
  }
}

.btn-login {
  button {
    background-color: #dedede;
    color: #000;
    border: none;
    outline: none;
    width: 100%;
    padding: 3%;
    border-radius: 5px;
    font-size: larger;
    font-weight: 500;

    &.active {
      background-color: #2579f2;
      color: #fff;
      cursor: pointer;
    }

    button[disabled="disable"],
    &:disabled {
      cursor: not-allowed;
    }
  }
}

.input-pass {
  position: relative;

  i {
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
  }
}

.vK{
  border: none;
  background: none;
  font-weight: 500;
  font-size: larger;
  &:hover{
    color: #2579f2;
    text-decoration: underline;
  }
}

.lO{
  border: none;
  &:hover{
    background: none;
  }
}

.Lj{
  color: #fff;
  border: none;
  background: none;
  &:hover{
    background: none;
  }
}

.pL{
  span{
    &:hover{
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

  .tabs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
  }
  .tabs > .radio {
    display: none;
  }
  .tabs > .radio:checked + .table + .tabs-content {
    display: block;
  }
  .tabs > .table {
    order: -1;
    flex-basis: 50%;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .tabs .tabs-content {
    width: 100%;
    display: none;
  }

  .tabs > .table {
    padding: 20px 0;
    text-align: center;
    border-bottom: solid #2579f2 5px;
    color: #2579f2;
    cursor: pointer;
  }
  .tabs > .table span {
    font-weight: 600;
  }
  .tabs > .table:hover {
    color: #2579f2;
    background: rgba(153, 214, 246, 0.2);
  }
  .tabs > .radio:checked + .table {
    color: #fff;
    background: #2579f2;
    cursor: auto;
  }
  .tabs > .radio:checked + .table span {
    display: inline-block;
    font-weight: 500;
    transform: scale(1.2);
    transition: 0.1s;
  }

  .tabs > .tabs-content .login_socnet {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-around;
  }
  .tabs > .tabs-content .login_socnet a {
    margin: 20px;
    margin-bottom: 0;
    width: 100%;
    font-size: 60px;
    text-decoration: none;
    transition: 0.2s;
  }
  .tabs > .tabs-content .login_socnet a:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.2));
  }
  .tabs > .tabs-content .login_socnet .fa-vk {
    color: #7986cb;
  }
  .tabs > .tabs-content .login_socnet .fa-google-plus {
    color: #e57373;
  }
  .tabs > .tabs-content .login_socnet .fa-facebook {
    color: #5c6bc0;
  }
  .tabs > .tabs-content .f {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .tabs > .tabs-content .f input {
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-bottom: solid 1px #2579f2;
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.1s;
  }
  .tabs > .tabs-content .f input:focus {
    transform: translateX(10px);
    outline: none;
  }
  .tabs > .tabs-content input[type="submit"] {
    padding: 15px 0;
    width: 100%;
    background: #2579f2;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  .tabs > .tabs-content input[type="submit"]:focus {
    transform: none;
  }
  .tabs > .tabs-content .forgot-password label {
    margin: 0 auto;
    width: 50%;
    color: #2579f2;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    font-weight: 500;
    font-size: larger;
  }
  .forgot-password label:hover {
    text-decoration: underline;
    cursor: pointer;  
  }

  .forgot-password #forgot-password-toggle {
    display: none;
  }
  .forgot-password .forgot-password-content {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
  }
  .forgot-password .forgot-password-content input[type="email"] {
    width: 80%;
    margin-right: 0px;
    border-right: none;
  }
  .forgot-password .forgot-password-content input[type="submit"] {
    width: 20%;
    margin-left: 0px;
  }
  .forgot-password #forgot-password-toggle:checked ~ .forgot-password-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 999;
    pointer-events: auto;
    cursor: auto;
    visibility: visible;
  }
