.list-lol {
    border: 1px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.oo{
    padding: 1rem;
}

@media (max-width: 575.98px) {
    .list-lol {
        border: none;
        box-shadow: none;
        border-radius: 0;
    }
    
    .oo{
        padding: 0;
    }
}
