.sideBar {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  color: #000;
  &:hover {
    cursor: pointer;
    transform: translateY(-4px);
    background-color: #fff;
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    opacity: 0.5;
  }
}

.list-l {
  width: auto;
  height:auto;
  border: 1px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  .bd {
    border-radius: 5px;
    opacity: 1;
    &:hover {
      transform: translateY(-4px);
      background-color: #000;
      transition: all 0.3s;
      box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
      opacity: 1;
    }
  }
  .oL{
    margin-bottom: 1rem;
  }

  .padluon{
    padding: 1rem;
  }

  .papa{
    display: flex;
    flex-direction: column;
  }
}

.xx{
  padding: 1rem;
}

@media (max-width: 575.98px) {
  .xx{
    padding: 0;
  }

  .list-l {
    border:none;
    box-shadow: none;
    .papa{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
    .sideBar {
      opacity: 1;
      span{
        display: none;
      }

    }
  }
}
