.bg-footer{
    background-color: black;
}

.font-color{
    color: #fff;
    font-weight: 500;
}

.btn-footer{
    background: none;
    color: #fff;
    font-weight: 600;
    border: none;
}

.img-footer{
    min-width: 1.75rem;
    height: 1.75rem;
    margin-left: 0.75rem;
}

.bg-gray{
    background-color: gainsboro;
}

.font-end{
    font-weight: 500;
    text-transform: uppercase;
}
