.nav-menu {
    border: none;
    color: rgba(0, 0, 0, .55);
    text-decoration: none;
    display: block;
    background-color: #fff;
}

.color-black{
    color: #000;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    &:hover{
        color: gray;
    }
}

.avatar {
    width: 32px;
    height: 32px;
}