.sort-header {
    display: flex;
    justify-content: space-between;

    i {
        cursor: pointer;
        padding: 0 2px;
    }
}

i {
    padding: 0 5px 0 0;
}

.group-btns {
    display: flex;
    gap: 10px;
}

.customize-table{
    width: inherit;
    overflow: auto;
}

.table-condensed{
    font-size: 10px;
  }