.sort-header {
  display: flex;
  justify-content: space-between;

  i {
    cursor: pointer;
    padding: 0 2px;
  }
}

i {
  padding: 0 5px 0 0;
}

.group-btns {
  display: flex;
  gap: 10px;
}

.customize-table {
  width: inherit;
  overflow: auto;
}

.table-condensed {
  a {
    list-style: none;
    text-decoration: none;
    color: black;
    &:hover {
      color: red;
    }
  }

  .formatLable {
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
  .ac {
    &.active {
      color: rgb(43, 191, 43);
      font-weight: 600;
    }
    &.deactive {
      color: rgb(174, 20, 20);
      font-weight: 600;
    }
  }
}
