.header-container {
  background-color: #2579f2;
  padding: 1.25rem 1rem;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-wrapper {
      display: flex;
      align-items: center;
      gap: 12px;
      cursor: pointer;
      .logo {
        color: #fff;
        font-weight: 600;
        font-family: Roboto;
        font-size: 21px;
        font-style: normal;
        line-height: 28px; /* 133.333% */
      }
      img {
        max-width: 52px;
        max-height: 52px;
      }
    }
    .search-wrapper {
      display: flex;
      width: 436px;
      position: relative;
      transition: all 0.3s;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

      border-radius: 0.375rem;
      .search-result {
        position: absolute;
        top: 62px;
        left: 0px;
        background-color: white;
        width: 100%;
        color: black;
        padding: 12px;
        border-radius: 0.375rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .label {
          font-size: 11px;
          margin-bottom: 12px;
        }
        .rs {
          display: flex;
          flex-direction: column;
          gap: 12px;
          .row {
            cursor: pointer;
            padding: 12px 8px;
            border-radius: 0.375rem;
            transition: all 0.3s;
            &:hover {
              background-color: rgb(208, 243, 232);
            }
          }
        }
      }
      input {
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 0.375rem;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        outline-style: none;
        border: none;
        margin: 0;
        flex: 1;
        cursor: pointer;
        &::placeholder {
        }
      }
      .ic-wrapper {
        border-radius: 0.375rem;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        font-weight: 500;
        padding: 0.5em 0.5rem;
        background-color: #0a59cc;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
    .btns {
      display: flex;
      align-items: center;
      gap: 8px;
      .ic {
        font-size: 46px;
        cursor: pointer;
      }
      .btn {
        font-weight: 500;
        cursor: pointer;
      }
    }
    .profile {
      display: flex;
      align-items: center;
      gap: 22px;
      .wr {
        transition: all 0.3s;
        cursor: pointer;
        display: flex;
        gap: 8px;
        border-radius: 4px;
        align-items: center;
        padding: 6px 14px;
        border: 1px solid transparent;
        font-weight: 600;
        &:hover {
          border: 1px solid wheat;
        }
        .avatar {
          width: 32px;
          height: 32px;
          .ic,
          img {
            width: 100%;
            height: 100%;
            border-radius: 4px;
          }
        }
      }
      .btn {
        font-weight: 600;
        cursor: pointer;
        padding: 4px 8px;
        border: 1px solid white;
        border-radius: 4px;
        transition: all 0.3s;
        height: 100%;
        &:hover {
          color: blueviolet;
          background-color: white;
        }
      }
    }
    .cart {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 9px;
      border: 1px solid white;
      border-radius: 6px;
      gap: 8px;
      cursor: pointer;
      .num {
        border-radius: 2px;
        padding: 2px 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: black;
        font-weight: 600;
      }
    }
  }
}
