.footer,
.footer * {
  box-sizing: border-box;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.div-container {
  display: flex;
  width: 100%;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  max-width: 1140px;
  position: relative;
}
.div-row {
  display: flex;
  width: 80%;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-shrink: 0;
  position: relative;
  background: white;
}
.div-col-lg-4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: space-around;
  flex-shrink: 0;
  position: relative;
}
.div-card {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.div-card-body {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.link {
  display: flex;
  flex-direction: row;
  gap: 16.72px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.p-mr-3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._697-a-860-d-ic-40-function-web-hotline-png {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  max-width: 40px;
  position: relative;
  overflow: hidden;
}
.div-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.small {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.hotline {
  color: rgba(1, 18, 34, 0.5);
  text-align: center;
  font: 400 14px/19px "Open Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-mb-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._1900-6959 {
  color: #212529;
  text-align: center;
  font: 700 20px/27px "Open Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-card-body2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.link2 {
  display: flex;
  flex-direction: row;
  gap: 16.9px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._5-e-9-f-0-bee-ic-40-function-web-email-png {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  max-width: 40px;
  position: relative;
  overflow: hidden;
}
.email-h-tr {
  color: rgba(1, 18, 34, 0.5);
  text-align: center;
  font: 400 14px/19px "Open Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cskh-vinid-net {
  color: #212529;
  text-align: center;
  font: 700 20px/27px "Open Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pseudo {
  background: #dc2323;
  flex-shrink: 0;
  width: 1px;
  height: 24px;
  position: absolute;
  left: 369px;
  top: 13px;
}
.pseudo2 {
  background: #dc2323;
  flex-shrink: 0;
  width: 1px;
  height: 24px;
  margin: 0px 12px;
}
.div-card-body3 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.link3 {
  display: flex;
  flex-direction: row;
  gap: 16.81px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._72372-ac-0-ic-40-function-web-facebook-png {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  max-width: 40px;
  position: relative;
  overflow: hidden;
}
.fanpage {
  color: rgba(1, 18, 34, 0.5);
  text-align: center;
  font: 400 14px/19px "Open Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fb-com-vinid-net {
  color: #212529;
  text-align: center;
  font: 700 20px/27px "Open Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-container2 {
  flex-shrink: 0;
  height: 269px;
  max-width: 1140px;
  width: 100%;
  position: relative;
}
.div-row2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.div-col-lg-3 {
  padding: 0px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  max-width: 285px;
  position: relative;
}
.div-pr-lg-4 {
  flex-shrink: 0;
  height: 448.94px;
  position: relative;
  width: 100%;
}
.col-title {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
}
.th-ng-tin-li-n-h {
  color: #333333;
  text-align: left;
  font: 700 13.8px/20px "Open Sans", sans-serif;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.small-t-n-c-ng-ty {
  color: #011222;
  text-align: left;
  font: 400 14px/21px "Open Sans", sans-serif;
  opacity: 0.5;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.p-h-2-d-2824-eae-5 {
  padding: 0px 13px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
}
.c-ng-ty-c-ph-n-one-mount-consumer {
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
  font: 600 14px/20px "Open Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.small-a-ch {
  color: #011222;
  text-align: left;
  font: 400 14px/21px "Open Sans", sans-serif;
  opacity: 0.5;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.p-h-2-d-312531-fc {
  padding: 0px 17px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
}
.t-ng-4-t-a-v-n-ph-ng-t-26-k-t-times-city-458-minh-khai-ph-ng-v-nh-tuy-qu-n-hai-b-tr-ng-th-nh-ph-h-n-i-vi-t-nam {
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
  font: 600 14px/20px "Open Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-col-lg-32 {
  padding: 0px 15px 142.19px 15px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  max-width: 285px;
  position: relative;
}
.div-px-lg-2 {
  padding: 0px 8px 0px 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.col-title2 {
  padding: 0px 69px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ch-m-s-c-kh-ch-h-ng {
  color: #333333;
  text-align: left;
  font: 700 13.8px/20px "Open Sans", sans-serif;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 3.19px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.small-th-i-gian-h-tr {
  color: #011222;
  text-align: left;
  font: 400 14px/20px "Open Sans", sans-serif;
  opacity: 0.5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.col-item-value {
  padding: 0px 66px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._8-h-22-h-h-ng-ng-y {
  color: #333333;
  text-align: left;
  font: 700 18px/24.5px "Open Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.small-hotline-khtt {
  color: #011222;
  text-align: left;
  font: 400 14px/20px "Open Sans", sans-serif;
  opacity: 0.5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.col-item-value2 {
  padding: 0px 151px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._1900-69592 {
  color: #333333;
  text-align: left;
  font: 700 18px/24.5px "Open Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item2 {
  display: flex;
  flex-direction: column;
  gap: 3.18px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 47.68px;
  position: relative;
}
.div-col-lg-33 {
  padding: 0px 15px 24.94px 15px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  max-width: 285px;
  position: relative;
}
.col-title3 {
  padding: 0px 38px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ch-nh-s-ch-ch-ng-tr-nh {
  color: #333333;
  text-align: left;
  font: 700 13.8px/20px "Open Sans", sans-serif;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.item3 {
  padding: 0px 119px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link-gi-i-thi-u-v-vin-id {
  color: #343a40;
  text-align: left;
  font: 400 14px/20px "Open Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item4 {
  padding: 0px 30px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link-i-u-kho-n-v-i-u-ki-n-mua-v {
  color: #343a40;
  text-align: left;
  font: 400 14px/20px "Open Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item5 {
  padding: 0px 18px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link-i-u-kho-n-v-i-u-ki-n-v-i-n-t {
  color: #343a40;
  text-align: left;
  font: 400 14px/20px "Open Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item6 {
  padding: 0px 46px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link-ch-nh-s-ch-bi-u-ph-v-i-n-t {
  color: #343a40;
  text-align: left;
  font: 400 14px/20px "Open Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item7 {
  padding: 0px 15px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link4 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.i-u-kho-n-v-i-u-ki-n-t-nh-n-ng-mua-s-m {
  color: #343a40;
  text-align: left;
  font: 400 14px/20px "Open Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item8 {
  padding: 0px 16px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.th-a-thu-n-s-d-ng-d-ch-v-m-ng-x-h-i {
  color: #343a40;
  text-align: left;
  font: 400 14px/20px "Open Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-col-lg-34 {
  padding: 0px 15px 155.1px 15px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  max-width: 285px;
  position: relative;
}
.div-px-lg-22 {
  flex-shrink: 0;
  height: 293.84px;
  position: relative;
  width: 100%;
}
.col-title4 {
  padding: 0px 31px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 8px;
  left: 8px;
  top: 0px;
}
.b-m-like-nh-n-ngay-u-i {
  color: #333333;
  text-align: left;
  font: 700 13.8px/20px "Open Sans", sans-serif;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-row3 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  right: -0.5px;
  left: 0.5px;
  top: 316px;
}
.div-col-md-6 {
  padding: 0px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  max-width: 570px;
  position: relative;
}
.div-ink-500 {
  padding: 0px 112.67px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  max-width: 90px;
  position: relative;
}
.vinid-logo-v-1-png {
  flex-shrink: 0;
  width: 85.33px;
  height: 32px;
  max-width: 85.33px;
  position: relative;
  overflow: hidden;
}
.copyright-2022-by-vingroup-all-rights-reserved {
  color: #22313f;
  text-align: left;
  font: 400 14px/21px "Open Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-py-3 {
  padding: 16px 15px 16px 30.81px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  max-width: 570px;
  position: relative;
}
.link-margin {
  padding: 0px 12px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.link6 {
  padding: 0px 7px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._1-e-8306-e-9-logoccdv-png {
  flex-shrink: 0;
  width: 128px;
  height: 48px;
  max-width: 135px;
  position: relative;
  overflow: hidden;
}
.bct-2-png {
  flex-shrink: 0;
  width: 128px;
  height: 48px;
  max-width: 135px;
  position: relative;
  overflow: hidden;
}
.bct-1-png {
  flex-shrink: 0;
  width: 128px;
  height: 48px;
  max-width: 135px;
  position: relative;
  overflow: hidden;
}
.link7 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.pci-logo-gif {
  flex-shrink: 0;
  width: 83.19px;
  height: 48px;
  max-width: 83.19px;
  position: relative;
  overflow: hidden;
}
.div-line-bottom {
  background: rgba(1, 18, 34, 0.05);
  border-radius: 4px;
  flex-shrink: 0;
  width: 100%;
  height: 1px;
  position: relative;
}
