.Ct {
  &.active {
    color: rgb(43, 191, 43);
    font-weight: 600;
  }

  &.deactive {
    color: rgb(174, 20, 20);
    font-weight: 600;
  }
}

.s {
  &:hover {
    background: none;
  }
}

.xk {
  margin: 0 auto;
}

.mg {
  flex-basis: 45.83333333%;
}

.rolca{
  margin-left: 20rem;
  margin-right: 17rem;
}

@media (max-width: 575.98px) {
  .rolca{
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575.98px) {
  .lP {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .IU {
    padding-top: 1rem;
  }
}

.sC {
  .card {
    width: 112%;
  }
}

@media (max-width: 575.98px) {
  .sC {
    .card {
      width: auto;
    }
  }
}

@media (max-width: 575.98px) {
  .tranfer-display {
    display: flex;
    flex-direction: column;

    .sub-o {
      padding: 0.5rem 0;
    }
  }
}

.MhR {
  img {
    width: 20rem;
    height: 10rem;
    border-radius: 1rem;
  }
}

@media (max-width: 575.98px) {
  .MhR {
    img {
      width: 18.5rem;
      height: 10rem;
      border-radius: 1rem;
    }
  }
}
