.PO{
    width: 100%;
    height: auto;
    border-radius: 10px;
    &:hover{
        border-color: #0a59cc;
    }
}
.aV {
    width: 5rem;
    height: 5rem;
    border-radius: 9999px;
  }

  .cL{
    color: #6b7280;
  }

  .Bi{
    border: none;
    background: none;
    color: #0a59cc;
  }
  .pm{
    font-weight: 500;
  }

  .Vl{
    width: 4rem;
    height: 4rem;
    border-radius: 9999px;
  }

  @media (max-width: 575.98px) {
  .OH{
    padding: 0.5rem 0;
    button{
      width: 100%;
    }
  }
  }