.card {
  display: flex;
  flex-direction: column;
  background: transparent;
  gap: 10px;
  transition: all 0.3s;
  border-radius: 5.25px;
  padding: 8px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  &:hover {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .top {
    width: 100%;
    height: 160px;
    border-radius: 5.25px;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
    .soldout {
      position: absolute;
      color: #fff;
      top: 10px;
      left: 10px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px; /* 150% */
      display: flex;
      padding: 3.5px 13.34px 3.5px 14px;
      align-items: flex-start;
      border-radius: 5.25px;
      opacity: 0.9;
      background: #111827;
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    .name {
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
    }
    .prices {
      display: flex;
      align-items: center;
      gap: 8px;
      .main-price {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px; /* 150% */
      }
      .discount {
        color: #9ca3af;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px; /* 150% */
        text-decoration-line: strikethrough;
      }
      .discount-percent {
        color: #fff;
        font-size: 12.3px;
        font-style: normal;
        font-weight: 500;
        line-height: 17.5px; /* 142.276% */
        border-radius: 5.25px;
        background: #dc3545;
        display: flex;
        padding: 3.25px 4.2px 3.25px 5.25px;
        align-items: flex-start;
      }
    }
  }
}
